body {
  /* background-image: url(tree.png);
  background-repeat: no-repeat;
  background-size: 50%; */
  /* background-position-x: right; */
  /* background-position-y: -50%; */
  /* background-position: right -100%; */

  /* Background shorthand */
  /* background: url(tree.png) no-repeat right bottom;  */
}

h1 {
  color: blue;
  font-size: 80px;
  /* text-shadow: <horizontal-shift> <vertical-shift> <blur> <color>; */
  text-shadow: 5px 5px 5px black;
  text-align: center;
  font-family: cursive-heading-font;
}

@font-face {
  font-family: cursive-heading-font;
  src: url(GreatVibes-Regular.ttf);
}

.subtitle {
  font-family: sans-serif;
  color: lightblue;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin-top: -50px;
  /* text-transform: capitalize; */
}

.text {
  width: 500px;
  box-sizing: border-box;
  /* text-decoration: overline; */
  /* border: solid 1px blue; */
  /* border-style: solid dotted dashed solid; */
  /* border-style: dashed;
  border-width: 5px;
  border-color: grey; */

  border: 2px solid grey;
  border-radius: 5px;
  padding: 100px;

  margin: 150px 0;

  text-indent: 50px;
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 50px;
  /* white-space: break-word; */
}

.unordered-list {
  /* margin-top: 300px; */
  font-size: 30px;
  list-style-type: none;
  list-style-position: outside;
}

ol {
  font-size: 30px;
  list-style-type: lower-roman;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
}

table td {
  border: 1px solid black;
}

table th {
  border: 1px solid black;
}

.custom {
  background-color: red;
  height: inherit;
  width: 100%;
}